In [3]:
import pandas as pd
import os
from pathlib import Path
import sys
import pandas as pd
from datetime import datetime

In [2]:
project_name = 'clpsych'
project_path = Path(os.getcwd()).parent

if sys.platform == "win32":
    data_path = 'D:\Dataset\{0}\dataset'.format(project_name)
elif sys.platform == 'darwin':
    data_path = '/Volumes/Dataset/{0}/dataset'.format(project_name)
else:
    data_path = Path(project_path, 'dataset')

utils_path = str(Path(project_path, 'utils'))
# including the project folder and the utils folder
if utils_path not in ''.join(sys.path):
    sys.path.extend([str(project_path), utils_path])

print('project path = {0}'.format(project_path))
print('data path = {0}'.format(data_path))
print('')
print('sys.path = {0}'.format(sys.path))

project path = C:\Users\e_guerramarj\github\clpsych
data path = D:\Dataset\clpsych\dataset

sys.path = ['', 'C:\\Users\\e_guerramarj\\AppData\\Local\\Continuum\\anaconda3\\envs\\nlp\\python36.zip', 'C:\\Users\\e_guerramarj\\AppData\\Local\\Continuum\\anaconda3\\envs\\nlp\\DLLs', 'C:\\Users\\e_guerramarj\\AppData\\Local\\Continuum\\anaconda3\\envs\\nlp\\lib', 'C:\\Users\\e_guerramarj\\AppData\\Local\\Continuum\\anaconda3\\envs\\nlp', 'C:\\Users\\e_guerramarj\\AppData\\Local\\Continuum\\anaconda3\\envs\\nlp\\lib\\site-packages', 'C:\\Users\\e_guerramarj\\AppData\\Local\\Continuum\\anaconda3\\envs\\nlp\\lib\\site-packages\\win32', 'C:\\Users\\e_guerramarj\\AppData\\Local\\Continuum\\anaconda3\\envs\\nlp\\lib\\site-packages\\win32\\lib', 'C:\\Users\\e_guerramarj\\AppData\\Local\\Continuum\\anaconda3\\envs\\nlp\\lib\\site-packages\\Pythonwin', 'C:\\Users\\e_guerramarj\\AppData\\Local\\Continuum\\anaconda3\\envs\\nlp\\lib\\site-packages\\IPython\\extensions', 'C:\\Users\\e_guerramarj\\.ipython', 'C:\\Users\\e_guerramarj\\github\\clpsych', 'C:\\Users\\e_guerramarj\\github\\clpsych\\utils']

In [7]:
# read in task_B_train csv file
filename = 'clpsych19_public_task_B_train_posts.csv'
task_b_train = pd.read_csv(Path(data_path, filename), header=None, names=['post_id', 'user_id', 'subreddits'])
print(task_b_train.shape)
task_b_train.head()

  post_id  user_id   subreddits
0   sodud    40130       ainbow
1   soegj    40130     LGBTrees
2   t1efg    40130  CuteGayPics
3   tprco    40130  CuteGayPics
4   ttak5    40130       ainbow

In [11]:
# read in crowd_train csv file
filename = 'clpsych19_public_crowd_train.csv'
crowd_train = pd.read_csv(Path(data_path, filename), header=None, names=['user_id', 'risk_label'])
print(crowd_train.shape)
crowd_train.head()

   user_id risk_label
0    40130          a
1    19368          a
2    20841          a
3     8720          a
4    32730          a

In [14]:
# read in shared_task_posts csv file
filename = 'clpsych19_public_shared_task_posts.csv'
shared_task_posts = pd.read_csv(Path(data_path, filename), header=None, 
                                names=['post_id', 'user_id', 'timestamp', 'subreddits', 'post_title', 'post_body'])
print(shared_task_posts.shape)
shared_task_posts.head()

,post_id,user_id,timestamp,subreddits,post_title,post_body
0,1ajmq1,22028,1363638028,IWantOut,I will be applying for a doctoral study progra...,I currently live in the US and work for NSF in...
1,1atmyh,22028,1363986645,malefashionadvice,What is your favorite suit/shoe color combo?,Personally I love a navy suit with walnut shoe...
2,1auzfq,22028,1364050617,Guitar,[GEAR] Looking to finally get an acoustic afte...,So I wrote up a long page about why I am getti...
3,1ba6xo,22028,1364611969,malefashionadvice,Anyone know where to find some american flag s...,"7-9"" trunks, bold american flag print. Bonus p..."
4,1bj3me,22028,1364926673,malefashionadvice,Wingtip fringe tassel loafers!?,_URL_~~60_57.JPGI don't know if I could pull t...

In [18]:
# creating a new dataset based on the mergure of the different files
dataset = task_b_train.copy()
dataset = dataset.merge(right=crowd_train, on='user_id', how='inner')
dataset = dataset.merge(right=shared_task_posts, on=['user_id', 'post_id'], how='inner')

(57015, 3)

In [29]:
print(task_b_train.keys())
print(crowd_train.keys())
print(shared_task_posts.keys())
print(dataset.keys())

Index(['post_id', 'user_id', 'subreddits'], dtype='object')
Index(['user_id', 'risk_label'], dtype='object')
Index(['post_id', 'user_id', 'timestamp', 'subreddits', 'post_title',
       'post_body'],
      dtype='object')
Index(['post_id', 'user_id', 'subreddits_x', 'risk_label', 'timestamp',
       'subreddits_y', 'post_title', 'post_body'],
      dtype='object')

In [30]:
dataset.head()

,post_id,user_id,subreddits_x,risk_label,timestamp,subreddits_y,post_title,post_body
0,sodud,40130,ainbow,a,1335199918,ainbow,"My first spoken word gig, contains rhythmic Co...","Hey there guys ‘an gals,I’ve been lurking in a..."
1,soegj,40130,LGBTrees,a,1335200695,LGBTrees,My first spoken word gig. Warning: contains rh...,"Hey there guys ‘an gals,I’ve been lurking in a..."
2,t1efg,40130,CuteGayPics,a,1335872964,CuteGayPics,"Me, the boy who first showed me what love was ...",NaN
3,tprco,40130,CuteGayPics,a,1337163926,CuteGayPics,Being Proud @ NYC Pride 2010,NaN
4,ttak5,40130,ainbow,a,1337351222,ainbow,I wish this guy had been at my high school...,NaN

In [ ]:
str(datetime.now()
filename = 'dataset_{0}.csv'.format(datetime.now().strftime('%Y%m%d%H%M%S'))
dataset.to_csv(Path(data_path, filename), index=False)
print('dataset store in {0}'.format(filename))

In [4]:
dataset = pd.read_csv(Path(data_path, 'dataset_20190309213238.csv'))
print(dataset.shape)
dataset.head()

(57015, 8)

,post_id,user_id,subreddits_x,risk_label,timestamp,subreddits_y,post_title,post_body
0,sodud,40130,ainbow,a,1335199918,ainbow,"My first spoken word gig, contains rhythmic Co...","Hey there guys ‘an gals,I’ve been lurking in a..."
1,soegj,40130,LGBTrees,a,1335200695,LGBTrees,My first spoken word gig. Warning: contains rh...,"Hey there guys ‘an gals,I’ve been lurking in a..."
2,t1efg,40130,CuteGayPics,a,1335872964,CuteGayPics,"Me, the boy who first showed me what love was ...",NaN
3,tprco,40130,CuteGayPics,a,1337163926,CuteGayPics,Being Proud @ NYC Pride 2010,NaN
4,ttak5,40130,ainbow,a,1337351222,ainbow,I wish this guy had been at my high school...,NaN

In [6]:
old_dataset = pd.read_csv(Path(data_path, 'new_dataset.csv'))
print(old_dataset.shape)
old_dataset.head()

(993, 3)

   user_id                                               post risk_label
0    40130  [['sodud', 1335199918, 'ainbow', 'My first spo...          a
1    19368  [['qdo5g', 1330645863, 'gaming', 'I think _PER...          a
2    20841  [['p6gen', 1328122097, 'anime', "Just finished...          a
3     8720  [['avaet', 1264696815, 'atheism', 'Atheism Red...          a
4    32730  [['2ccye2', 1406919425, 'blacksmithing', 'Foun...          a

In [20]:
# testing the lenght of a record created by my method (jorge) vs Wei's method 
print(dataset[dataset['user_id'] == 40130].shape)
print(len(old_dataset[old_dataset['user_id'] == 40130]['post'][0].split('],')))

(25, 8)
25