In [1]:
import pandas as pd
import os
from pathlib import Path
import sys
import pandas as pd
from datetime import datetime

In [2]:
project_name = 'clpsych'
project_path = Path(os.getcwd()).parent

if sys.platform == "win32":
    data_path = 'D:\Dataset\{0}\dataset'.format(project_name)
elif sys.platform == 'darwin':
    data_path = '/Volumes/Dataset/{0}/dataset'.format(project_name)
else:
    data_path = Path(project_path, 'dataset')

utils_path = str(Path(project_path, 'utils'))
# including the project folder and the utils folder
if utils_path not in ''.join(sys.path):
    sys.path.extend([str(project_path), utils_path])

print('project path = {0}'.format(project_path))
print('data path = {0}'.format(data_path))
print('')
print('sys.path = {0}'.format(sys.path))

project path = /home/guerramarj/github/clpsych
data path = /home/guerramarj/github/clpsych/dataset

sys.path = ['/cm/local/apps/cuda/libs/current/pynvml', '/home/guerramarj/python/Python-3.6.3', '/home/guerramarj/packages/anaconda3/envs/deeplearning/lib/python36.zip', '/home/guerramarj/packages/anaconda3/envs/deeplearning/lib/python3.6', '/home/guerramarj/packages/anaconda3/envs/deeplearning/lib/python3.6/lib-dynload', '', '/home/guerramarj/packages/anaconda3/envs/deeplearning/lib/python3.6/site-packages', '/home/guerramarj/packages/anaconda3/envs/deeplearning/lib/python3.6/site-packages/Mako-1.0.7-py3.6.egg', '/home/guerramarj/packages/anaconda3/envs/deeplearning/lib/python3.6/site-packages/IPython/extensions', '/home/guerramarj/.ipython', '/home/guerramarj/github/clpsych', '/home/guerramarj/github/clpsych/utils']

In [3]:
# read in task_B_train csv file
filename = 'clpsych19_public_task_B_train_posts.csv'
task_b_train = pd.read_csv(Path(data_path, filename), header=None, names=['post_id', 'user_id', 'subreddits'])
print(task_b_train.shape)
task_b_train.head()

(57015, 3)

  post_id  user_id   subreddits
0   sodud    40130       ainbow
1   soegj    40130     LGBTrees
2   t1efg    40130  CuteGayPics
3   tprco    40130  CuteGayPics
4   ttak5    40130       ainbow

In [4]:
# read in crowd_train csv file
filename = 'clpsych19_public_crowd_train.csv'
crowd_train = pd.read_csv(Path(data_path, filename), header=None, names=['user_id', 'risk_label'])
print(crowd_train.shape)
crowd_train.head()

(993, 2)

   user_id risk_label
0    40130          a
1    19368          a
2    20841          a
3     8720          a
4    32730          a

In [5]:
# read in shared_task_posts csv file
filename = 'clpsych19_public_shared_task_posts.csv'
shared_task_posts = pd.read_csv(Path(data_path, filename), header=None, 
                                names=['post_id', 'user_id', 'timestamp', 'subreddits', 'post_title', 'post_body'])
print(shared_task_posts.shape)
shared_task_posts.head()

(2038326, 6)

,post_id,user_id,timestamp,subreddits,post_title,post_body
0,1ajmq1,22028,1363638028,IWantOut,I will be applying for a doctoral study progra...,I currently live in the US and work for NSF in...
1,1atmyh,22028,1363986645,malefashionadvice,What is your favorite suit/shoe color combo?,Personally I love a navy suit with walnut shoe...
2,1auzfq,22028,1364050617,Guitar,[GEAR] Looking to finally get an acoustic afte...,So I wrote up a long page about why I am getti...
3,1ba6xo,22028,1364611969,malefashionadvice,Anyone know where to find some american flag s...,"7-9"" trunks, bold american flag print. Bonus p..."
4,1bj3me,22028,1364926673,malefashionadvice,Wingtip fringe tassel loafers!?,_URL_~~60_57.JPGI don't know if I could pull t...

In [6]:
# creating a new dataset based on the mergure of the different files
dataset = task_b_train.copy()
dataset = dataset.merge(right=crowd_train, on='user_id', how='inner')
dataset = dataset.merge(right=shared_task_posts, on=['user_id', 'post_id'], how='inner')

In [7]:
print(task_b_train.keys())
print(crowd_train.keys())
print(shared_task_posts.keys())
print(dataset.keys())

Index(['post_id', 'user_id', 'subreddits'], dtype='object')
Index(['user_id', 'risk_label'], dtype='object')
Index(['post_id', 'user_id', 'timestamp', 'subreddits', 'post_title',
       'post_body'],
      dtype='object')
Index(['post_id', 'user_id', 'subreddits_x', 'risk_label', 'timestamp',
       'subreddits_y', 'post_title', 'post_body'],
      dtype='object')

In [8]:
dataset.head()

,post_id,user_id,subreddits_x,risk_label,timestamp,subreddits_y,post_title,post_body
0,sodud,40130,ainbow,a,1335199918,ainbow,"My first spoken word gig, contains rhythmic Co...","Hey there guys ‘an gals,I’ve been lurking in a..."
1,soegj,40130,LGBTrees,a,1335200695,LGBTrees,My first spoken word gig. Warning: contains rh...,"Hey there guys ‘an gals,I’ve been lurking in a..."
2,t1efg,40130,CuteGayPics,a,1335872964,CuteGayPics,"Me, the boy who first showed me what love was ...",NaN
3,tprco,40130,CuteGayPics,a,1337163926,CuteGayPics,Being Proud @ NYC Pride 2010,NaN
4,ttak5,40130,ainbow,a,1337351222,ainbow,I wish this guy had been at my high school...,NaN

In [ ]:
str(datetime.now()
filename = 'dataset_{0}.csv'.format(datetime.now().strftime('%Y%m%d%H%M%S'))
dataset.to_csv(Path(data_path, filename), index=False)
print('dataset store in {0}'.format(filename))

In [11]:
n_data = dataset[['risk_label']].copy()
n_data['title_body'] = dataset['post_title'].astype(str) + dataset['post_body'].astype(str)
n_data.head()

  risk_label                                         title_body
0          a  My first spoken word gig, contains rhythmic Co...
1          a  My first spoken word gig. Warning: contains rh...
2          a  Me, the boy who first showed me what love was ...
3          a                    Being Proud @ NYC Pride 2010nan
4          a   I wish this guy had been at my high school...nan

In [19]:
print(n_data.shape)
n_data.dropna(subset=['title_body'], inplace=True)
print(n_data.shape)

(57015, 2)
(57015, 2)

In [21]:
n_data.to_csv(Path(data_path, 'risk_title_body.csv'), index=False)